html{

    margin: 0;
    padding: 0;
    font-size: 100%;
    box-sizing: border-box;
    
}

body{

    background-color: #FFEB3B;
    color: #4E342E;

}

div.flex-parent {

    width: 100%;
    background-color: #FFFFFF;
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  }
  
  img {width: 100%}
  
  div.flex-child{
    text-align: center;
    padding: 10px 20px;
  }

  img{
    border-radius: 8px;
    height: 35vh;
    width: 35vh;
}

.header{
    text-align: center;
    font-family: 'Luckiest Guy', cursive;
    font-size: 20vh;
}

.flex-parent{
    height: 98vh;
    background-color: #616161;
    display: flex;
    flex-direction: row;
    text-align: center ;
    align-items: center;
}

.flex-child{
    height: 40vh;
    background-color: #ECEFF1;
    margin: 10px;
    width: 33.3%;
    font-size: 500%;
    border-image: fill;
}

#flex-child{
    flex-grow: 1;
    display: flex;
    width: 33.3%;
}

#flex-grow2{
    flex-grow: 2;
    width: 33.3%;
    font-size: 100%;
}

